* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ddd;
  max-height: 100vh;
}

section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container {
  width: 50%;
  margin-top: 30px;
}

/************************************
Add task Section
*************************************/
.addTask .container {
  display: flex;
}

.inputDiv {
  width: 100%;
  padding: 10px 0px;
  height: 50px;
}

#input {
  width: 100%;
  height: 30px;
  font-size: 15px;
  border-radius: 4px;
  padding: 5px 15px;
  border: 1.5px solid #88888882;
  outline: none;
}

#input::placeholder {
  color: #888;
}

.btnDiv {
  width: 30%;
  padding: 10px 0px;
  height: 50px;
  padding-left: 15px;
}

#btn {
  width: 100%;
  height: 30px;
  background-color: #0c84f5;
  border: none;
  border-radius: 5px;
  color: #fff;
}

#btn:disabled {
  background-color: #6caae7;
}

#input:hover {
  border: 2px solid #abc6e0;
  border-radius: 5px;
}

#btn:hover {
  background-color: #086fcf;
}

#btn:disabled:hover {
  background-color: #6caae7;
}

/************************************
Task List Section
*************************************/
.taskList .container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1.5px solid #88888882;
  border-radius: 5px;
}

.taskList .container h1 {
  padding: 15px;
  border-bottom: 1.5px solid #88888882;
}

#listItems {
  display: flex;
  flex-direction: column;
}

.listItem {
  display: flex;
  padding: 15px;
  border-bottom: 1.5px solid #88888882;
}

.completeBtn {
  margin: 5px;
  border: 2px solid red;
  transform: scale(1.4);
  margin-right: 15px;
}

.fa-minus-square {
  color: #ff000063;
  margin: auto;
  font-size: 1.5rem;
}

.fa-check {
  padding: 5px 10px;
  background-color: #ddd;
  border-radius: 4px;
  font-size: 16px;
  color: #080;
  margin: auto;
}

.fa-trash-alt {
  padding: 5px 10px;
  background-color: #ddd;
  border-radius: 4px;
  font-size: 16px;
  color: #f00;
  margin-left: 30px;
  margin: auto;
}

.taskMessage {
  padding: 5px;
  width: 70%;
  margin: 0px 10px;
  color: #333;
  word-wrap: break-word;
}

.far.fa-trash-alt:hover {
  border: 1px solid #f00;
  transform: scale(1.1);
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.message {
  color: #444;
  padding: 20px;
  text-align: center;
}

/************************************
Responsive View
*************************************/
@media only screen and (max-width: 820px) {
  .container {
    width: 80%;
  }
}
